<!DOCTYPE HTML>
<html lang="it">

<head>
    <title>Cliente</title>
    <meta charset="UTF-8">
    <meta name="description" content="Gestore database per Distribuzioni Acque">
    <meta name="author" content="Bellosi Jacopo, Signori Alessandro">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-control" content="no-cache">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/stile.css' %}">
    <link rel="stylesheet" href="{% static 'css/stile_custom.css' %}">

    <link rel="icon" href="{% static 'img/logo.jpeg' %}" type="image/x-icon" alt="Logo" />
</head>

<body>
    {% include 'Extra/header.html' %}

    <div class="container-fluid">
        <div class="main">
            <div class="row flex-grow-1">
                {% include 'Extra/nav.html' %}
                <div id="content" class="col-lg-10 col-md-10 col-sm-12">

                    <h2>Clienti</h2>
                    <hr>
                    <h4>Filtri:</h4>
                    <form name="myform" id="searchForm" method="POST" action="{% url 'cliente' %}" class="row g-3">
                        {% csrf_token %}
                        <div class="col-md-3">
                            <input id="IdCodice" name="Codice" type="number" class="form-control" placeholder="Codice"
                                value="{{ Codice }}" min="1">
                        </div>
                        <div class="col-md-3">
                            <input id="IdCF" name="CF" type="text" class="form-control" pattern="[\p{L} \d]+"
                                title="Vietato mettere apici o virgolette" placeholder="Codice Fiscale"
                                value="{{ CF }}">
                        </div>
                        <div class="col-md-3">
                            <input id="IdRagSoc" name="RagSoc" type="text" class="form-control" pattern="[\p{L} \d]+"
                                title="Vietato mettere apici o virgolette" placeholder="Ragione Sociale"
                                value="{{ RagSoc }}">
                        </div>
                        <div class="w-100 custom-row-break"></div>
                        <div class="col-md-3">
                            <input id="IdIndirizzo" name="Indirizzo" type="text" class="form-control"
                                pattern="[\p{L} \d]+" title="Vietato mettere apici o virgolette" placeholder="Indirizzo"
                                value="{{ Indirizzo }}">
                        </div>
                        <div class="col-md-3">
                            <input id="IdCitta" name="Citta" type="text" class="form-control" pattern="[\p{L} \d]+"
                                title="Vietato mettere apici o virgolette" placeholder="Città" value="{{ Citta }}">
                        </div>
                        <div class="col-3">
                            <input type="submit" class="btn btn-primary" value="Cerca">
                            <input type="button" id="reset" class="btn btn-secondary" value="Cancella">
                        </div>
                    </form>

                    <hr>

                    <div id="results" class="tabella-scorrevole">
                        {% if error %}
                        <p>DB Error on Query: {{ error }}</p>
                        {% else %}
                        <table class="table table-bordered table-hover" id="myTableCliente">
                            <thead class="thead-light">
                                <tr class="header">
                                    <th onclick="sortTableCliente(0)">Codice</th>
                                    <th onclick="sortTableCliente(1)">Codice Fiscale</th>
                                    <th onclick="sortTableCliente(2)">Ragione Sociale</th>
                                    <th onclick="sortTableCliente(3)">Indirizzo</th>
                                    <th onclick="sortTableCliente(4)">Città</th>
                                    <th onclick="sortTableCliente(5)">Numero Utenze</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for riga in results %}
                                <tr class="riga">
                                    <td class="text-center">{{ riga.Codice }}</td>
                                    <td>{{ riga.CF }}</td>
                                    <td>{{ riga.RagSoc }}</td>
                                    <td>{{ riga.Indirizzo }}</td>
                                    <td>{{ riga.Citta }}</td>
                                    <td class="text-center"><a href="{% url 'utenza' %}?CodCliente={{ riga.Codice }}">{{ riga.NumeroUtenze }}</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% include 'Extra/footer.html' %}
</body>
<script type="text/javascript" src="{% static 'js/script.js' %}" defer></script>

</html>