<!DOCTYPE HTML>
<html lang="it">

<head>
    <title>Lettura</title>
    <meta charset="UTF-8">
    <meta name="description" content="Gestore database per Distribuzioni Acque">
    <meta name="author" content="Bellosi Jacopo, Signori Alessandro">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-control" content="no-cache">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/stile_custom.css' %}">

    <link rel="icon" href="{% static 'img/logo.jpeg' %}" type="image/x-icon" alt="Logo" />
</head>

<body>
    {% include 'Extra/header.html' %}

    <div class="container-fluid">
        <div class="main">
            <div class="row flex-grow-1">
                {% include 'Extra/nav.html' %}
                <div id="content" class="col-lg-10 col-md-10 col-sm-12">
                    <h2>Letture</h2>
                    <hr>
                    <h4>Filtri:</h4>
                    <form id="searchForm" name="myform" method="POST" action="{% url 'lettura' %}" class="row g-3">
                        {% csrf_token %}
                        <div class="col-md-3">
                            <input id="IdCodice" name="Numero" type="number" class="form-control" placeholder="Numero"
                                value="{{ Numero }}" min="1" />
                        </div>
                        <div class="col-md-3">
                            <input id="IdCodUtenza" name="CodUtenza" type="number" class="form-control"
                                placeholder="CodUtenza" value="{{ CodUtenza }}" min="1" />
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-auto">
                                    <label for="IdData" class="col-form-label me-1 custom-column-spacing">Data
                                        Lettura:</label>
                                </div>
                                <div class="col">
                                    <input id="IdData" name="Data" type="date" class="form-control" placeholder="Data"
                                        value="{{ Data }}" />
                                </div>
                            </div>
                        </div>
                        <div class="w-100 custom-row-break"></div>
                        <div class="col-md-3">
                            <input id="IdValore" name="Valore" type="number" class="form-control" placeholder="Valore"
                                value="{{ Valore }}" min="1" />
                        </div>
                        <div class="col-md-3">
                            <input id="IdNumFattura" name="NumFattura" type="number" class="form-control"
                                placeholder="NumFattura" value="{{ NumFattura }}" min="1" />
                        </div>
                        <div class="col-md-3">
                            <input type="submit" value="Cerca" />
                            <input type="button" id="reset" value="Cancella"
                                onclick="document.getElementById('searchForm').reset();" />
                        </div>
                    </form>
                    <hr>

                    <div id="results" class="tabella-scorrevole">
                        {% if error %}
                        <p style="color:red;">{{ error }}</p>
                        {% else %}
                        <table class="table table-bordered table-hover" id="myTableLettura">
                            <thead class="thead-light">
                                <tr class="header">
                                    <th onclick="sortTableLettura(0)">Numero</th>
                                    <th onclick="sortTableLettura(1)">Codice Utenza</th>
                                    <th onclick="sortTableLettura(2)">Data Lettura</th>
                                    <th onclick="sortTableLettura(3)">Valore</th>
                                    <th onclick="sortTableLettura(4)">Numero Fattura</th>
                                </tr>
                            </thead>
                            {% for r in results %}
                            <tr class="riga">
                                <td class="centerTD">{{ r.Numero }}</td>
                                <td class="centerTD"><a href="{% url 'utenza' %}?Codice={{ r.CodUtenza }}">{{ r.CodUtenza }}</a></td>
                                <td>{{ r.Data }}</td>
                                <td>{{ r.Valore }}</td>
                                {% if r.NumFattura %}
                                <td class="centerTD"><a href="{% url 'fattura' %}?Numero={{ r.NumFattura }}">{{ r.NumFattura }}</a></td>
                                {% else %}
                                <td class="centerTD"></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </table>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'Extra/footer.html' %}
</body>
<script type="text/javascript" src="{% static 'js/script.js' %}" defer></script>

</html>