@charset "utf-8";

html {
    height: 100%;
}

body {
    background-color: #fdd7fd;
    height: auto;
    font-family: Arial, sans-serif;
}

/*header*/
#h1Title {
    font-weight: bold;
    color: magenta;
    font-size: 5vw;
    text-shadow: 0.2vw 0.2vw 0.2vw rgba(0, 0, 0, 0.5);
}

.logo {
    max-width: 15vw;
    height: auto;
}

/*eliminazione*/
.sfondoErr {
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.errore {
    margin-top: -220px;
    animation: animatezoom 0.6s;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes animatezoom {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.titoloErr {
    padding: 0;
}

.modal-dialog {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.modal-header h2 {
    text-align: center;
    background-color: #eb0404;
    color: white;
    border-radius: 5px;
    font-size: 2.2vw;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
}

.contErr {
    padding-bottom: 0.2vw;
}

.modal-body p {
    margin-left: 3%;
    font-size: 1.2vw;
}

.pulsanti {
    padding: 0;
    border-top: none;
}

.btn {
    font-size: 1.2vw;
    padding: 1.5% 2%;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: white;
    margin-right: 2%;
    margin-bottom: 2%;
    font-weight: bold;
}

.btn:hover {
    background-color: #ccc;
    border-color: #ccc;
    color: #fff;
    text-shadow: -0.8px 0 black, 0 0.8px black, 0.8px 0 black, 0 -0.8px black;

}

.elimina {
    background-color: #fc2424;
    color: white;
}

.elimina:hover {
    background-color: #d70303;
}

.annulla {
    color: black;
    border: 2px solid #ccc;
}


/*contenitore di tutto*/
.main {
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    border: 0.25vw solid magenta;
    background-color: white;
    border-radius: 1vw;
}

/*nav*/
.navbar {
    background-color: #ff80ff;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.navbar-nav {
    width: 100%;
}

.nav-link {
    color: white;
    font-size: 1.8vw;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
}

.nav-link:hover {
    background-color: darkmagenta;
    color: white;
    border-top-left-radius: 10px;
}

/*contenuto*/
#content {
    font-size: 0.9vw;
    padding-left: 10px;
    padding-right: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 68vh;
}

#content h3 {
    font-size: 1.4vw;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 7px;
}

#content p,
#content li {
    font-size: 1vw;
}

h2 {
    font-size: 1.5vw;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 13px;
}

hr {
    background-color: magenta;
    height: 1.5px;
    opacity: 1;
    margin-top: 7px;
}

hr:not([size]) {
    height: 1.5px;
}

h4 {
    margin-top: -7px;
    font-size: 1.1vw;
    font-weight: bold;
}

/*aggiunta utenza*/
.iconaPiu {
    width: 33%;
    float: right;
    margin-top: 13px;
    margin-right: 5px;
    cursor: pointer;
}

.iconaPiu:hover {
    filter: hue-rotate(352deg) brightness(0.8);
}

/*filtri*/
input[type="text"],
input[type="date"],
input[type="number"] {
    font-size: 0.8vw !important;
    padding: 5px 11px;
}

input[type="submit"],
input[type="button"] {
    font-size: 0.9vw !important;
    padding: 3px 9px !important;
    background-color: magenta;
    border-color: magenta;
    color: black;
    font-weight: bold;
    background-color: transparent;
    border-radius: 10px;
    border: 0.2vw solid magenta;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 1);
    transition: background-color 0.3s, border-color 0.3s;
}

.pulsanti {
    margin-top: 1vw;
    margin-left: 1vw;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: darkmagenta;
    border-color: darkmagenta;
    color: white;
    text-shadow: -0.8px 0 black, 0 0.8px black, 0.8px 0 black, 0 -0.8px black;
}

form input[type="checkbox"] {
    width: 1vw;
}

.custom-row-break {
    margin-bottom: -15px;
}

.custom-column-spacing {
    padding-top: 4.5px;
    margin-left: 1vw;
    margin-right: -10px;
}

.custom-column-spacing-check {
    padding-top: 6.5px;
    margin-right: -35px;
}

/* Tabelle */
td {
    padding-left: 5px;
}

.text-center {
    padding-left: 0px;
    text-align: center;
}

td input[type="text"],
td input[type="date"],
td input[type="number"] {
    width: 92%;
    font-size: inherit;
    padding-left: 0px;
}

.centerTDicona {
    width: 5%;
    padding-left: 0px;
    text-align: center;
}

.icona {
    width: 35%;
    cursor: pointer;
}

.icona:hover {
    filter: hue-rotate(352deg) brightness(0.8);
}

.tabella-scorrevole {
    max-height: 40vh;
    overflow-y: auto;
    border: 1px solid #ccc;
}

.tabella-scorrevole-utenza {
    max-height: 50%;
    overflow-y: auto;
    border: 1px solid #ccc;
}

.table {
    border: 1px solid #e967ed;
}

.table th {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    /* Per tutti gli altri browser */
    top: 0;
    background: #fdd7fd;
}

.smalltable {
    border: 1px solid #e967ed;
    width: 100%;
}

.header {
    background: #ff99ff;
    /*non va*/
    color: rgb(108, 12, 119);
}

.riga {
    background: #fdd7fd;
}

a {
    color: magenta;
}

a:hover {
    color: darkmagenta;
}


/*footer*/
.footerText {
    font-size: 1vw;
    font-weight: bold;
}

footer {
    background-color: #ba0dbd;
    margin-top: 100px;
}


/*responsive*/
@media only screen and (max-width: 768px) and (min-width: 420px){
    header {
        padding-bottom: 0rem !important;
    }

    #h1Title {
        font-size: 8vw;
        text-shadow: 0.6vw 0.6vw 0.6vw rgba(0, 0, 0, 0.5);
        padding-bottom: 0px;
    }

    .logo {
        max-width: 25vw;
    }

    .main {
        border: 0.6vw solid magenta;
        background-color: white;
        border-radius: 1.5vw;
    }

    .navbar {
        border-top-left-radius: 1.5vw;
        border-top-right-radius: 1.5vw;
        border-bottom-left-radius: 0;
        width: calc(100% - 12px);
    }

    .navbar-nav {
        width: 100%;
    }

    .nav-link {
        font-size: 3vw;
        padding: 1vw;
    }

    .nav-link:hover {
        border-top-left-radius: 1.5vw;
        border-top-right-radius: 1.5vw;
        border-bottom-left-radius: 0;
    }

    #content {
        font-size: 2vw;
        border-bottom-left-radius: 1.5vw;
        border-bottom-right-radius: 1.5vw;
        height: 165vw;
    }

    #content h3 {
        font-size: 3vw;
        margin-top: 10px;
        margin-bottom: 7px;
    }

    #content p,
    #content li {
        font-size: 2.5vw;
    }

    h2 {
        font-size: 4vw;
        padding-top: 8px;
    }

    h4 {
        font-size: 2.7vw;
    }

    .iconaPiu {
        width: 3vw;
    }

    input[type="text"],
    input[type="date"],
    input[type="number"] {
        font-size: 2.3vw !important;
    }

    label {
        font-size: 2.3vw !important;
    }

    input[type="submit"],
    input[type="button"] {
        font-size: 2.3vw !important;
        margin-right: 1vw;
        border: 0.6vw solid magenta;
    }

    form input[type="checkbox"] {
        width: 2.8vw;
    }

    .custom-column-spacing-check {
        margin-right: 0;
    }

    td {
        padding-left: 5px;
    }
    
    .text-center {
        padding-left: 0px;
        text-align: center;
    }
    
    td input[type="text"],
    td input[type="date"],
    td input[type="number"] {
        width: 92%;
        font-size: inherit;
        padding-left: 0px;
    }

    .icona {
        width: 4vw;
    }
    
    .tabella-scorrevole {
        max-height: 85vw;
    }
    
    .tabella-scorrevole-utenza {
        max-height: 60vw;
    }
    
    .smalltable {
        border: 1px solid #e967ed;
        width: max-content;
    }
    
    .footerText {
        font-size: 3vw;
    }

    .text-center {
        position: relative;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 420px){
    header {
        padding-bottom: 0rem !important;
    }

    #h1Title {
        font-size: 8vw;
        text-shadow: 0.6vw 0.6vw 0.6vw rgba(0, 0, 0, 0.5);
        padding-bottom: 0px;
    }

    .logo {
        max-width: 25vw;
    }

    .main {
        border: 0.6vw solid magenta;
        background-color: white;
        border-radius: 1.5vw;
    }

    .navbar {
        border-top-left-radius: 1.5vw;
        border-top-right-radius: 1.5vw;
        border-bottom-left-radius: 0;
        width: calc(100% - 12px);
    }

    .navbar-nav {
        width: 100%;
    }

    .nav-link {
        font-size: 3vw;
        padding: 1vw;
    }

    .nav-link:hover {
        border-top-left-radius: 1.5vw;
        border-top-right-radius: 1.5vw;
        border-bottom-left-radius: 0;
    }

    #content {
        font-size: 2vw;
        border-bottom-left-radius: 1.5vw;
        border-bottom-right-radius: 1.5vw;
        height: 110vh;
    }

    #content h3 {
        font-size: 3vw;
        margin-top: 10px;
        margin-bottom: 7px;
    }

    #content p,
    #content li {
        font-size: 2.5vw;
    }

    h2 {
        font-size: 4vw;
        padding-top: 8px;
    }

    h4 {
        font-size: 2.7vw;
    }

    .iconaPiu {
        width: 3vw;
    }

    input[type="text"],
    input[type="date"],
    input[type="number"] {
        font-size: 2.3vw !important;
    }

    label {
        font-size: 2.3vw !important;
    }

    input[type="submit"],
    input[type="button"] {
        font-size: 2.3vw !important;
        margin-right: 1vw;
        border: 0.6vw solid magenta;
    }

    form input[type="checkbox"] {
        width: 2.8vw;
    }

    td {
        padding-left: 5px;
    }
    
    .text-center {
        padding-left: 0px;
        text-align: center;
    }
    
    td input[type="text"],
    td input[type="date"],
    td input[type="number"] {
        width: 92%;
        font-size: inherit;
        padding-left: 0px;
    }

    .icona {
        width: 4vw;
    }
    
    .tabella-scorrevole {
        max-height: 59vh;
    }
    
    .tabella-scorrevole-utenza {
        max-height: 68vw;
    }
    
    .smalltable {
        border: 1px solid #e967ed;
        width: max-content;
    }
    
    .footerText {
        font-size: 3vw;
    }

    .text-center {
        position: relative;
        margin-top: 30px;
    }
}